*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
@media only screen and (max-width: 62.5em) {
  .container {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  }
}
@media only screen and (max-width: 50em) {
  .container {
    grid-template-rows: 6rem calc(100vh - 6rem);
  }
}

.heading-4, .heading-3, .heading-2, .heading-1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1;
}

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
}
.heading-2--light {
  color: #f9f7f6;
}
.heading-2--dark {
  color: #54483a;
}

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase;
}

.heading-4 {
  font-size: 1.9rem;
}
.heading-4--light {
  color: #f9f7f6;
}
.heading-4--dark {
  color: #54483a;
}

.btn {
  background-color: #c69963;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover {
  background-color: #b28451;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg {
  margin-bottom: 8rem;
}

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 62.5em) {
  .sidebar {
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-content: flex-end;
    align-items: center;
  }
}

.nav-btn {
  border: none;
  border-radius: 0;
  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem;
}
.nav-btn::before, .nav-btn::after {
  content: "";
  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  display: block;
}
.nav-btn::before {
  transform: translateY(-1.5rem);
}
.nav-btn::after {
  transform: translateY(1.3rem);
}
@media only screen and (max-width: 62.5em) {
  .nav-btn {
    margin-top: 0;
    margin-right: 3rem;
  }
  .nav-btn::before {
    transform: translateY(-1.2rem);
  }
  .nav-btn::after {
    transform: translateY(1rem);
  }
}

.header {
  grid-column: full-start/col-end 6;
  background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 1.5rem;
  justify-content: center;
}
@media only screen and (max-width: 50em) {
  .header {
    grid-column: 1/-1;
  }
}
@media only screen and (max-width: 37.5em) {
  .header {
    padding: 5rem;
  }
}
.header__logo {
  height: 3rem;
  justify-self: center;
}
.header__btn {
  align-self: flex-start;
  justify-self: self-start;
}
.header__seenon-text {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 1.5rem;
  align-items: center;
  font-size: 1.6rem;
  color: #aaa;
}
.header__seenon-text::before, .header__seenon-text::after {
  content: "";
  height: 1px;
  display: block;
  background-color: currentColor;
}
.header__seenon-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  justify-items: center;
  align-items: center;
}
.header__seenon-logos img {
  max-height: 2.5rem;
  max-width: 100%;
  filter: brightness(70%);
}

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7/full-end;
  padding: 3rem;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-row-gap: 2rem;
}
@media only screen and (max-width: 50em) {
  .realtors {
    grid-column: 1/-1;
  }
}
.realtors__list {
  display: grid;
  grid-template-columns: min-content max-content;
  grid-column-gap: 2rem;
  grid-row-gap: 5vh;
  align-items: center;
}
@media only screen and (max-width: 50em) {
  .realtors__list {
    grid-template-columns: repeat(3, min-content max-content);
  }
}
@media only screen and (max-width: 37.5em) {
  .realtors__list {
    grid-template-columns: min-content max-content;
  }
}
.realtors__img {
  width: 7rem;
  border-radius: 50%;
  display: block;
}
.realtors__sold {
  text-transform: uppercase;
  color: #aaa;
  margin-top: -3px;
}

.features {
  grid-column: center-start/center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;
}
.feature__icon {
  fill: #c69963;
  width: 4.5rem;
  height: 4.5rem;
  grid-row: 1/span 2;
  transform: translateY(-1rem);
}
.feature__text {
  font-size: 1.7rem;
}

.story__pictures {
  background-color: #c69963;
  grid-column: full-start/col-end 4;
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}
@media only screen and (max-width: 50em) {
  .story__pictures {
    grid-column: 1/-1;
    padding: 6rem;
  }
}
.story__img--1 {
  width: 100%;
  grid-row: 2/6;
  grid-column: 2/6;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 50em) {
  .story__img--1 {
    grid-column: 1/5;
    grid-row: 1/-1;
  }
}
.story__img--2 {
  width: 115%;
  grid-row: 4/6;
  grid-column: 4/7;
  z-index: 20;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 50em) {
  .story__img--2 {
    grid-row: 1/-1;
    width: 100%;
  }
}
.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5/full-end;
  padding: 6rem 8vw;
  /*
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  */
  display: grid;
  align-content: center;
  justify-items: start;
}
@media only screen and (max-width: 50em) {
  .story__content {
    grid-column: 1/-1;
    grid-row: 5/6;
  }
}
.story__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem;
}

.homes {
  grid-column: center-start/center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
}

.home {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem;
}
.home__img {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1/2;
  z-index: 1;
}
.home__like {
  grid-row: 1/2;
  grid-column: 2/3;
  fill: #c69963;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 2;
  justify-self: end;
  margin: 1rem;
}
.home__name {
  grid-row: 1/2;
  grid-column: 1/-1;
  justify-self: center;
  align-self: end;
  z-index: 3;
  width: 80%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.25rem;
  background-color: #101d2c;
  color: #fff;
  font-weight: 400;
  transform: translateY(50%);
}
.home__location, .home__rooms {
  margin-top: 2.5rem;
}
.home__location, .home__rooms, .home__area, .home__price {
  font-size: 1.5rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
}
.home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
  fill: #c69963;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
.home__btn {
  grid-column: 1/-1;
}

.gallery {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem;
}
.gallery__item--1 {
  grid-row: 1/span 2;
  grid-column: 1/span 2;
}
.gallery__item--2 {
  grid-row: 1/span 3;
  grid-column: 3/span 3;
}
.gallery__item--3 {
  grid-row: 1/span 2;
  grid-column: 6/7;
}
.gallery__item--4 {
  grid-row: 1/span 2;
  grid-column: 7/span 2;
}
.gallery__item--5 {
  grid-row: 3/span 3;
  grid-column: 1/span 2;
}
.gallery__item--6 {
  grid-row: 4/span 2;
  grid-column: 3/span 2;
}
.gallery__item--7 {
  grid-row: 4/5;
  grid-column: 5/6;
}
.gallery__item--8 {
  grid-row: 3/span 2;
  grid-column: 6/span 2;
}
.gallery__item--9 {
  grid-row: 3/span 3;
  grid-column: 8/9;
}
.gallery__item--10 {
  grid-row: 6/span 2;
  grid-column: 1/2;
}
.gallery__item--11 {
  grid-row: 6/span 2;
  grid-column: 2/span 2;
}
.gallery__item--12 {
  grid-row: 6/span 2;
  grid-column: 4/5;
}
.gallery__item--13 {
  grid-row: 5/span 3;
  grid-column: 5/span 3;
}
.gallery__item--14 {
  grid-row: 6/span 2;
  grid-column: 8/9;
}
.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.footer {
  background-color: #101d2c;
  grid-column: full-start/full-end;
  padding: 8rem;
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
}
.nav__link:link, .nav__link:visited {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
  display: block;
  transition: all 0.2s;
}
.nav__link:hover, .nav__link:active {
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateY(-3px);
}

.copyright {
  font-size: 1.4rem;
  color: #aaa;
  margin-top: 6rem;
  text-align: center;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3MvX2Jhc2Uuc2NzcyIsInN0eWxlLmNvbXAuY3NzIiwiLi4vc2Fzcy9fdHlwb2dyYXBoeS5zY3NzIiwiLi4vc2Fzcy9fc2lkZWJhci5zY3NzIiwiLi4vc2Fzcy9faGVhZGVyLnNjc3MiLCIuLi9zYXNzL19yZWFsdG9ycy5zY3NzIiwiLi4vc2Fzcy9fZmVhdHVyZXMuc2NzcyIsIi4uL3Nhc3MvX3N0b3J5LnNjc3MiLCIuLi9zYXNzL19ob21lcy5zY3NzIiwiLi4vc2Fzcy9fZ2FsbGVyeS5zY3NzIiwiLi4vc2Fzcy9fZm9vdGVyLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBc0JBOzs7RUFHRSxTQUFBO0VBQ0EsVUFBQTtFQUNBLHNCQUFBO0FDckJGOztBRHdCQTtFQUNFLHNCQUFBO0VBQ0EsZ0JBQUE7QUNyQkY7QUR1QkU7RUFKRjtJQUtJLGNBQUE7RUNwQkY7QUFDRjs7QUR1QkE7RUFDRSxpQ0EzQmE7RUE0QmIsY0EvQmtCO0VBZ0NsQixnQkFBQTtFQUNBLGdCQUFBO0FDcEJGOztBRHVCQTtFQUNFLGFBQUE7RUFDQSxnRUFBQTtFQUNBLDJNQUNFO0FDckJKO0FEeUJFO0VBUkY7SUFTSSxxRUFBQTtJQUNBLDBLQUNFO0VDdkJKO0FBQ0Y7QUQyQkU7RUFoQkY7SUFpQkksMkNBQUE7RUN4QkY7QUFDRjs7QUN4Q0E7RUFDRSx1Q0ZhYTtFRVpiLGdCQUFBO0FEMkNGOztBQ3hDQTtFQUVFLGlCQUFBO0VBQ0EsY0ZGbUI7RUVHbkIsY0FBQTtBRDBDRjs7QUN2Q0E7RUFFRSxlQUFBO0VBQ0Esa0JBQUE7RUFDQSxjQUFBO0FEeUNGO0FDdkNFO0VBQ0UsY0ZiaUI7QUNzRHJCO0FDdENFO0VBQ0UsY0ZkZ0I7QUNzRHBCOztBQ3BDQTtFQUVFLGlCQUFBO0VBQ0EsY0Y3QmM7RUU4QmQseUJBQUE7QURzQ0Y7O0FDbkNBO0VBRUUsaUJBQUE7QURxQ0Y7QUNuQ0U7RUFDRSxjRmpDaUI7QUNzRXJCO0FDbENFO0VBQ0UsY0ZsQ2dCO0FDc0VwQjs7QUNoQ0E7RUFDRSx5QkYvQ2M7RUVnRGQsV0FBQTtFQUNBLFlBQUE7RUFDQSxnQkFBQTtFQUNBLHVDRnRDYTtFRXVDYixpQkFBQTtFQUNBLHlCQUFBO0VBQ0Esb0JBQUE7RUFDQSxlQUFBO0VBQ0Esb0JBQUE7QURtQ0Y7QUNqQ0U7RUFDRSx5QkYxRGlCO0FDNkZyQjs7QUMvQkE7RUFDRSxtQkFBQTtBRGtDRjs7QUNoQ0E7RUFDRSxtQkFBQTtBRG1DRjs7QUNqQ0E7RUFDRSxtQkFBQTtBRG9DRjs7QUNsQ0E7RUFDRSxtQkFBQTtBRHFDRjs7QUUvR0E7RUFDRSx5QkFBQTtFQUNBLHNDQUFBO0VBQ0EsY0FBQTtFQUVBLGFBQUE7RUFDQSx1QkFBQTtBRmlIRjtBRS9HRTtFQVJGO0lBU0ksaUJBQUE7SUFDQSxhQUFBO0lBQ0EseUJBQUE7SUFDQSxtQkFBQTtFRmtIRjtBQUNGOztBRS9HQTtFQUNFLFlBQUE7RUFDQSxnQkFBQTtFQUVBLHNCQUFBO0VBQ0EsV0FBQTtFQUNBLGFBQUE7RUFDQSxnQkFBQTtBRmlIRjtBRS9HRTtFQUVFLFdBQUE7RUFDQSxzQkFBQTtFQUNBLFdBQUE7RUFDQSxhQUFBO0VBQ0EsY0FBQTtBRmdISjtBRTdHRTtFQUNFLDhCQUFBO0FGK0dKO0FFN0dFO0VBQ0UsNkJBQUE7QUYrR0o7QUU1R0U7RUF6QkY7SUEwQkksYUFBQTtJQUNBLGtCQUFBO0VGK0dGO0VFN0dFO0lBQ0UsOEJBQUE7RUYrR0o7RUU3R0U7SUFDRSwyQkFBQTtFRitHSjtBQUNGOztBR2pLQTtFQUNFLGlDQUFBO0VBQ0Esd0dBQUE7RUFLQSxzQkFBQTtFQUNBLDJCQUFBO0VBQ0EsYUFBQTtFQUNBLGlCQUFBO0VBRUEsYUFBQTtFQUNBLGlFQUFBO0VBQ0EsdURBQUE7RUFDQSxvQkFBQTtFQUNBLHVCQUFBO0FIK0pGO0FHN0pFO0VBbEJGO0lBbUJJLGlCQUFBO0VIZ0tGO0FBQ0Y7QUc5SkU7RUF0QkY7SUF1QkksYUFBQTtFSGlLRjtBQUNGO0FHL0pFO0VBQ0UsWUFBQTtFQUNBLG9CQUFBO0FIaUtKO0FHOUpFO0VBQ0Usc0JBQUE7RUFDQSx3QkFBQTtBSGdLSjtBRzdKRTtFQUNFLGFBQUE7RUFDQSwwQ0FBQTtFQUNBLHVCQUFBO0VBQ0EsbUJBQUE7RUFFQSxpQkFBQTtFQUNBLFdKcENpQjtBQ2tNckI7QUc1Skk7RUFFRSxXQUFBO0VBQ0EsV0FBQTtFQUNBLGNBQUE7RUFDQSw4QkFBQTtBSDZKTjtBR3pKRTtFQUNFLGFBQUE7RUFDQSxxQ0FBQTtFQUNBLGNBQUE7RUFDQSxxQkFBQTtFQUNBLG1CQUFBO0FIMkpKO0FHekpJO0VBQ0Usa0JBQUE7RUFDQSxlQUFBO0VBQ0EsdUJBQUE7QUgySk47O0FJM05BO0VBQ0UseUJMR2dCO0VLRmhCLGlDQUFBO0VBQ0EsYUFBQTtFQUNBLGFBQUE7RUFDQSx1QkFBQTtFQUNBLHFCQUFBO0VBQ0EscUJBQUE7RUFDQSxrQkFBQTtBSjhORjtBSTVORTtFQVZGO0lBV0ksaUJBQUE7RUorTkY7QUFDRjtBSTdORTtFQUNFLGFBQUE7RUFDQSw4Q0FBQTtFQUNBLHFCQUFBO0VBQ0EsaUJBQUE7RUFDQSxtQkFBQTtBSitOSjtBSTdOSTtFQVBGO0lBUUkseURBQUE7RUpnT0o7QUFDRjtBSTlOSTtFQVhGO0lBWUksOENBQUE7RUppT0o7QUFDRjtBSTlORTtFQUNFLFdBQUE7RUFDQSxrQkFBQTtFQUNBLGNBQUE7QUpnT0o7QUk3TkU7RUFDRSx5QkFBQTtFQUNBLFdML0JpQjtFS2dDakIsZ0JBQUE7QUorTko7O0FLdFFBO0VBQ0Usb0NBQUE7RUFFQSxlQUFBO0VBRUEsYUFBQTtFQUVBLDJEQUFBO0VBQ0EsY0FBQTtFQUNBLGtCQUFBO0FMc1FGOztBS25RQTtFQUNFLGFBQUE7RUFDQSxzQ0FBQTtFQUNBLG9CQUFBO0VBQ0EsdUJBQUE7QUxzUUY7QUtwUUU7RUFDRSxhTmxCWTtFTW1CWixhQUFBO0VBQ0EsY0FBQTtFQUdBLGtCQUFBO0VBQ0EsNEJBQUE7QUxvUUo7QUtqUUU7RUFDRSxpQkFBQTtBTG1RSjs7QU0vUkU7RUFDRSx5QlBEWTtFT0VaLGlDQUFBO0VBQ0EseUdBQUE7RUFLQSxzQkFBQTtFQUVBLGFBQUE7RUFDQSxrQ0FBQTtFQUNBLHFDQUFBO0VBQ0EsbUJBQUE7QU42Uko7QU0zUkk7RUFmRjtJQWdCSSxpQkFBQTtJQUNBLGFBQUE7RU44Uko7QUFDRjtBTTNSRTtFQUNFLFdBQUE7RUFDQSxhQUFBO0VBQ0EsZ0JBQUE7RUFDQSwwQ0FBQTtBTjZSSjtBTTNSSTtFQU5GO0lBT0ksZ0JBQUE7SUFDQSxjQUFBO0VOOFJKO0FBQ0Y7QU01UkU7RUFDRSxXQUFBO0VBQ0EsYUFBQTtFQUNBLGdCQUFBO0VBQ0EsV0FBQTtFQUNBLDBDQUFBO0FOOFJKO0FNNVJJO0VBUEY7SUFRSSxjQUFBO0lBQ0EsV0FBQTtFTitSSjtBQUNGO0FNNVJFO0VBQ0UseUJQekNpQjtFTzBDakIsaUNBQUE7RUFFQSxpQkFBQTtFQUVBOzs7OztHQUFBO0VBT0EsYUFBQTtFQUNBLHFCQUFBO0VBQ0Esb0JBQUE7QU4yUko7QU16Ukk7RUFqQkY7SUFrQkksaUJBQUE7SUFDQSxhQUFBO0VONFJKO0FBQ0Y7QU16UkU7RUFDRSxpQkFBQTtFQUNBLGtCQUFBO0VBQ0EsbUJBQUE7QU4yUko7O0FPbldBO0VBQ0Usb0NBQUE7RUFDQSxlQUFBO0VBRUEsYUFBQTtFQUNBLDJEQUFBO0VBQ0EsY0FBQTtBUHFXRjs7QU9sV0E7RUFDRSx5QlJKbUI7RVFNbkIsYUFBQTtFQUNBLHFDQUFBO0VBQ0Esb0JBQUE7QVBvV0Y7QU9sV0U7RUFDRSxXQUFBO0VBQ0EsaUJBQUE7RUFDQSxhQUFBO0VBQ0EsVUFBQTtBUG9XSjtBT2pXRTtFQUNFLGFBQUE7RUFDQSxnQkFBQTtFQUVBLGFSMUJZO0VRMkJaLGFBQUE7RUFDQSxjQUFBO0VBQ0EsVUFBQTtFQUNBLGlCQUFBO0VBQ0EsWUFBQTtBUGtXSjtBTy9WRTtFQUNFLGFBQUE7RUFDQSxpQkFBQTtFQUNBLG9CQUFBO0VBQ0EsZUFBQTtFQUNBLFVBQUE7RUFFQSxVQUFBO0VBQ0EsdUNSN0JXO0VROEJYLGlCQUFBO0VBQ0Esa0JBQUE7RUFDQSxnQkFBQTtFQUNBLHlCUjNDYztFUTRDZCxXQUFBO0VBQ0EsZ0JBQUE7RUFDQSwwQkFBQTtBUGdXSjtBTzdWRTtFQUVFLGtCQUFBO0FQOFZKO0FPM1ZFO0VBSUUsaUJBQUE7RUFDQSxpQkFBQTtFQUVBLGFBQUE7RUFDQSxtQkFBQTtBUHlWSjtBT3RWSTtFQUNFLGFSckVVO0VRc0VWLFdBQUE7RUFDQSxZQUFBO0VBQ0Esa0JBQUE7QVB3Vk47QU9wVkU7RUFDRSxpQkFBQTtBUHNWSjs7QVFwYUE7RUFDRSxnQ0FBQTtFQUVBLGFBQUE7RUFDQSxxQ0FBQTtFQUNBLGtDQUFBO0VBQ0EsZ0JBQUE7RUFDQSxlQUFBO0FSc2FGO0FRbmFJO0VBQ0Usa0JBQUE7RUFDQSxxQkFBQTtBUnFhTjtBUW5hSTtFQUNFLGtCQUFBO0VBQ0EscUJBQUE7QVJxYU47QVFuYUk7RUFDRSxrQkFBQTtFQUNBLGdCQUFBO0FScWFOO0FRbmFJO0VBQ0Usa0JBQUE7RUFDQSxxQkFBQTtBUnFhTjtBUW5hSTtFQUNFLGtCQUFBO0VBQ0EscUJBQUE7QVJxYU47QVFuYUk7RUFDRSxrQkFBQTtFQUNBLHFCQUFBO0FScWFOO0FRbmFJO0VBQ0UsYUFBQTtFQUNBLGdCQUFBO0FScWFOO0FRbmFJO0VBQ0Usa0JBQUE7RUFDQSxxQkFBQTtBUnFhTjtBUW5hSTtFQUNFLGtCQUFBO0VBQ0EsZ0JBQUE7QVJxYU47QVFuYUk7RUFDRSxrQkFBQTtFQUNBLGdCQUFBO0FScWFOO0FRbmFJO0VBQ0Usa0JBQUE7RUFDQSxxQkFBQTtBUnFhTjtBUW5hSTtFQUNFLGtCQUFBO0VBQ0EsZ0JBQUE7QVJxYU47QVFuYUk7RUFDRSxrQkFBQTtFQUNBLHFCQUFBO0FScWFOO0FRbmFJO0VBQ0Usa0JBQUE7RUFDQSxnQkFBQTtBUnFhTjtBUWphRTtFQUNFLFdBQUE7RUFDQSxZQUFBO0VBQ0Esb0JBQUE7S0FBQSxpQkFBQTtFQUNBLGNBQUE7QVJtYUo7O0FTM2VBO0VBQ0UseUJWR2dCO0VVRmhCLGdDQUFBO0VBQ0EsYUFBQTtBVDhlRjs7QVMzZUE7RUFDRSxnQkFBQTtFQUVBLGFBQUE7RUFDQSwyREFBQTtFQUNBLGNBQUE7RUFDQSxtQkFBQTtBVDZlRjtBUzNlRTtFQUVFLGlCQUFBO0VBQ0EsV0FBQTtFQUNBLHFCQUFBO0VBQ0EsdUNWTFc7RVVNWCx5QkFBQTtFQUNBLGtCQUFBO0VBQ0EsZUFBQTtFQUNBLGNBQUE7RUFFQSxvQkFBQTtBVDJlSjtBU3hlRTtFQUVFLDJDQUFBO0VBQ0EsMkJBQUE7QVR5ZUo7O0FTcmVBO0VBQ0UsaUJBQUE7RUFDQSxXVjlCbUI7RVUrQm5CLGdCQUFBO0VBQ0Esa0JBQUE7QVR3ZUYiLCJmaWxlIjoic3R5bGUucHJlZml4LmNzcyJ9 */